@model MvcLibraryManagementSystem.Models.Entity.TBLADMIN
@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm("AdminEdit", "Settings", FormMethod.Post))
{
    <div style="margin-bottom:15px"></div>
    <div class="form-group">
        @Html.HiddenFor(x => x.AdminID)
        @Html.Label("Kullanıcı Adı")
        @Html.TextBoxFor(x => x.AdminUser, new { @class = "form-control" })
        <br />
        @Html.Label("Şifre")
        @Html.PasswordFor(x => x.AdminPassword, new { @class = "form-control" })
        <br />
        @Html.Label("Yetki")
        @Html.TextBoxFor(x => x.Authority, new { @class = "form-control" })
        <br />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-warning">Güncelle</button>
    </div>
}